@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* tipografia */
--normal:12px;
/* espaciado */
--space:10px;
/* box shadow */
--box:0 0 2px 1px #c1bcbc;
}
/* fin de variables */
html,body{
  padding: 0px;
  margin:0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}
nav{
  background: var(--green-color);
  padding:10px;
  color:var(--white-color);
  display: flex;
  justify-content:space-between;
}
nav ul{
  display: flex;
}
nav li{
  padding-left:20px;
  list-style: none;
}
nav li a{
  color: var(--black-color);
  text-decoration: none;
}
nav li a:hover{
  color:var(--white-color);
}
/* main section */
.main_section{
  padding:15%;
  text-align: center;
}
.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;

}
.product{
  padding: 60px;
  margin-top: -400px;
}
.product .content{
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
}
.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: 17px;
  color:var(--white-color);
  font-size: var(--normal);
  border:0;
  cursor:pointer;
  border-radius: 2px;
}
.main_button:hover{
  background-color: #5e9e22;
}
/* aqui comienza la segunda seccion */

.products2-img{
  width: 113px;
  height: 113px;
}
.products2{
    margin-right: 140px;
    margin-left: 140px;


}
.productos-tiernos{
  display: flex;
  align-items: center;
}
.products2-text-p{
  width: 154px;
  height: 50px;
}
.people{
  margin-left: 15px;
}
.people-title{
  text-align: center;
  margin-top:40px;
}
.people-text{
  box-shadow: 0 0 4px  1px #c1bcbc;
  width: 239px;
  margin-top:-12px;
}
.people-text h2{
  margin-left: 5px;
  width: 220px;

}
.people-text p{
  height:60px;
  width: 220px;
  margin-left: 5px;
}
.section-3{
  display: flex;
  justify-content: center;
  margin-top:40px;
  margin-bottom: 40px;
  /* align-items: center; */
}
footer{
  display: flex;
  background: #313337;
  color:white;
  justify-content: space-between;
}
.footer-contacto{
  margin-right: 10px;
}
