/* variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* tipografia */

/* espaciado */
--space:10px;
}
/* fin de variables */
html,body{
  padding: 0px;
  margin:0;
  font-size: 12px
  font-family: Helvetica;
}
nav{
  background: var(--green-color);
  padding:10px;
  color:var(--white-color);
  display: flex;
  justify-content:space-between;
}
nav ul{
  display: flex;
}
nav li{
  padding-left:20px;
  list-style: none;
}
nav li a{
  color: var(--black-color);
  text-decoration: none;
}
nav li a:hover{
  color:var(--white-color);
}
/* main section */
.main_section{
  padding:15%;
  text-align: center;
}
.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
}
.product{
  padding: 10px;
  margin-top: -300px;
}
.product .content{
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: 0 0 1px #c1bcbc;
}
.img_content{
  text-align: center;
}
.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: 17px;
  color:var(--white-color);
  border:0;
  cursor:pointer;
  border-radius: 2px;
}
.main_button:hover{
  background-color: #5e9e22;
}
